/*
 * Simple basic styling to separate important areas of the screen
 *
 * @author Robert C. Duvall
 */

@charset "utf-8";

body {
    text-align: center;
    margin: auto;
}

header {
    font-weight: bold;
    font-size: 2em;
}

div {
    width: 50%;
    height: 100px;
}

section {
    width: 50%;
}

.bordered {
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #c3c3c3;
}


/* used by JavaScript */
.duke {
    background-color: #001A57;
}

.unc {
    background-color: #ABCDEF;
}
